{% extends 'base.html' %}

{% block title %}SE Fun Fact!{% endblock %}



{% block content %}
<div class="container">

    <h1 align="center">SE Fun Fact!</h1>
    <br>
    {% if factoid %}
    <h3 align="center"><i>{{ factoid }}</i></h3></p>

    <script>
        function nameToggle() {
            var x = document.getElementById("show_name");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <h5 align="center">Who is it?
        <button type="button" class="btn btn-default" style="background:none" onclick="nameToggle()">
            <span name="view_icon" class="far fa-eye" style="color:#000000;"></span>
        </button>
        <br>
        <span id="show_name" style="display:none">
            <b><a href="/profiles/{{ factoid.profile_id }}">{{ factoid.profile }}</a></b>
        </span>
    </h5>

    <!-- <div align="center" class="container">
        <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <img src="/static/assets/strength_{{ profile.primary_strength.lower }}.gif"><br><br>
                {{ profile.get_primary_strength_display }}
            </div>
            <div class="col-md-4">
                <img class="profile_pic" src="/static/assets/{{ profile.cec.lower }}.jpg" height="252" width="189">
            </div>
            <div class="col-md-2">
                <img src="/static/assets/strength_{{ profile.secondary_strength.lower }}.gif"><br><br>
                {{ profile.get_secondary_strength_display }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div></p>

    {% for factoid in factoids %}
    <div align="center" class="container" style="padding-bottom:10px;">
        <i>{{ factoid.text }}</i>
    </div>
    {% endfor %} -->

    {% else %}

    <div align="center" class="alert alert-info"><span class="far fa-sad-tear"></span> No fun facts found!</div>

    {% endif %}

    <p></p>

    <p align="center"><a href="javascript:history.back()"><span id="back-arrow" class="fas fa-arrow-alt-circle-left fa-2x" style="color:#000000;"></span></a></p>
</div>
{% endblock %}