{% extends 'base.html' %}

{% block title %}Profile - {{ profile.name }}{% endblock %}

{% block content %}
<div class="container">

    <h1 align="center">{{ profile.name }}</h1>
    <h3 align="center">{{ profile.get_team_display }} - {{ profile.get_region_display }}</h3></p>

    <div align="center" class="container">
        <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <img class="img-fluid" src="/static/assets/strength_{{ profile.primary_strength.lower }}.gif"><br><br>
                {{ profile.get_primary_strength_display }}
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="/{{ profile.profile_pic }}">
            </div>
            <div class="col-md-2">
                <img class="img-fluid" src="/static/assets/strength_{{ profile.secondary_strength.lower }}.gif"><br><br>
                {{ profile.get_secondary_strength_display }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div></p>

    <!-- TAGS -->
    <div align="center" class="container">
        {% for tag in profile.tags.all %}
            <button name="profile_tag" type="submit" class="btn sm-1" style="background-color: #{{ tag.tag_color }}; color: #FFFFFF; font-size:14px; padding: 4px 8px;">{{ tag.text }}</button>
        {% endfor %}
    </div>
    
    <br>

    <!-- FACTOIDS -->
    {% for factoid in factoids %}
    <div align="center" class="container" style="padding-bottom:10px;">
        <i>{{ factoid.text }}</i>
    </div>
    {% endfor %}

    <p></p>

    <!-- BACK BUTTON -->
    <p align="center"><a href="{% url 'profile_list' %}"><span id="back-arrow" class="fas fa-arrow-alt-circle-left fa-2x" style="color:#000000;"></span></a></p>
</div>
{% endblock %}