{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" align="center">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="row">
            <div class="col"><span class="float-right">{{ field.label_tag }}</span></div>
            <div class="col"><span class="float-left">{{ field }}</float-left></div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success m-1">Login</button>
    </form>
    <a href="{% url 'signup' %}" class="fas fa-user-plus m-1"></a>

    {% if form.errors %}
    <div class="m-3 alert alert-danger">
        Username/password combination is incorrect.
    </div>
    {% endif %}
</div>
{% endblock %}