{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Welcome!</h1>
{% if user.is_authenticated %}
<h1 align="center">
    Hello {{ user.username }}!<br>
    {% if user_profile %}
    <h2 align="center">
        Be sure to <a href="{% url 'edit_profile' cec=user.username%}">setup your profile</a>
        <br>
        and <a href="{% url 'factoids_list' %}">add some facts</a> about yourself!
    </h2>
    {% else %}
    <h2 align="center">
        Learn more about the GVS team!
    </h2>
    {% endif %}
</h1>
{% else %}
<h1 align="center">
    Please log in
</h1>
{% endif %}
{% endblock %}