{% load staticfiles %}
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand d-flex w-50 mr-auto" href="{% url 'home' %}">
        <!-- <img src="{% static 'media/logo_white.png' %}" width="135" height="37" border="0"> -->
        Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        {% if user.is_authenticated %}
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        The Team
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'profile_list' %}">Global</a>
                        <a class="dropdown-item" href="{% url 'profile_list' geo='USCAN' %}">Americas</a>
                        <a class="dropdown-item" href="{% url 'profile_list' geo='APJC' %}">APJC</a>
                        <a class="dropdown-item" href="{% url 'profile_list' geo='EMEAR' %}">EMEAR</a>
                        <a class="dropdown-item" href="{% url 'profile_list' geo='LATAM' %}">LATAM</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'random_factoid' %}">Fun Fact!</a>
                </li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user.is_authenticated %}
            {% if user_profile %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'factoids_list' %}">My Facts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' cec=user.username%}">Edit Profile</a>
            </li>
            {% endif %}
            <li class="nav-item"  >
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>